@media (max-width:1223px) {
    
    .col > img{
        max-width: 80px;
        max-height: 100px;
        /* margin: 15px 20px; */
    
    }
    
}
@media (max-width:800px) {
    .col > img{
        max-width: 120px;
        max-height: 150px;
        /* margin: 15px 20px; */
    
    }
    .content{
        flex-direction: column;
        justify-content: center;
    }
    .col-cont{
        width: 100%;
        justify-content: center;
        
    }
    
}
@media (max-width:600px) {
    .col > img{
        max-width: 80px;
        max-height: 100px;
        /* margin: 15px 20px; */
    
    }
    
    
}
@media (max-width:425px) {
    .col > img{
        max-width: 50px;
        max-height: 70px;
        /* margin: 15px 20px; */
    
    }
    
    
}