*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(163, 163, 0);
}
.logo-main > img{
    height: 240px;
    margin: 20px 0px;
}
.logo-main{
    display: flex;
    justify-content: center;
}
.row-1{
    background-color: aqua;
    height: 200px;
    width: 95vw;
}
.content{
    background-color: blueviolet;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
}
.icon{
    background-color: rgb(38, 44, 32);
    height: 30px;
    width: 30px;
}